[submodule "pd/bop"]
	path = pd/bop
	url = https://github.com/zealtv/bop
[submodule "samples/coldvoice_samplepack"]
	path = samples/coldvoice_samplepack
	url = https://github.com/playablestreets/coldvoice_samplepack.git
